a button {
    font-size: 1.5em;
    border-radius: 7px;
    margin:0;
    font-family: "Gemunu Libre", serif;
    padding:0;
    height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #0B0C18FF;
    border: 1px solid #Ebe2d8;
    cursor: pointer;
    color: #Ebe2d8;
    text-align: center;
    justify-content: center;
    padding-bottom: 0.4em;



}
a button:hover {
    
    background-color: #0B0C18FF;
    color: #Ebe2d8 !important;
    margin-top:5px;
    margin-left:5px;
    transform: translate(5px,5px);
    transition: 0.3s;
    box-shadow: -5px -5px  #Ebe2d8 ;
    
    
}


